html, body {
    padding: 0;
    margin: 0 auto;
    height: 100%;
}
body {
    /* position: absolute;
    /* height: 100vh; */
    /* overflow: hidden !important; */
    width: 100%;
    /* height: 100vh; */
    background-image: url(./../../libs/img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* position: fixed; */
    /* background-blend-mode: overlay;
    background-color: #e7e6f185; */
    font-family: Trebuchet MS, sans-serif;
    font-stretch: ultra-condensed;
}
.box {
    width: 100%;
    overflow-x: hidden;
}
header {
    background: #7faf4b;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 65px;
    z-index: 2;
    display: grid;
    grid-template-columns: 10% auto;
    /* border-bottom: 1px solid #ccc; */
    padding: 5px;
    -webkit-box-shadow: 0px -1px 2px 3px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px -1px 2px 3px rgba(0,0,0,0.42);
    box-shadow: 0px -1px 2px 3px rgba(0,0,0,0.42);
}
header img {
    height: 55px;
    border-radius: 50%;
}

header a {
    text-align: center;
    color: #fff !important;
    padding: 15px;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-decoration: none !important;
    width: 100%;
    position: absolute;
    z-index: -1;
}
.space {
    height: 65px;
}
.importante {
    color: red;
}

/* paginacao */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.paginacao {
    display: flex;
}
.paginacao input {
    width: 80px;
}
.paginacao select[name=active] {
    width: 80px;
}