<div ng-include="'app/views/common/header.html'"></div>
<div ng-if="meses.length<=0" style="
padding: 150px 45px;
font-size: 22px;
font-weight: bold;
background: whitesmoke;
height: 100vh;
text-align: center;">
    Olá <span style="color:#699638;">{{usuario.nome}}!</span> <br>Você ainda não possui nenhum movimento cadastrado! Para exibir sua Timeline <a href="#/movimento">clique aqui</a> e cadastre movimentos!
</div>
<div class="box-timeline" ng-if="meses.length>0">
    <div class="timeline-mes" slider_horizontal>
        <div class="content" ng-repeat="obj in meses" ng-class="{'content-active': obj.ativo==='SIM'}" ng-click="onClickMes(obj)">
            <div class="mes">{{obj.mes_ano}}</div>
            <div class="valor">
                <i class="fa fa-eercast" ng-class="[{'em-atraso': obj.status==='ATRASADO'}, {'pago': obj.status==='CONFIRMADO'}]"></i> {{obj.valor | moeda}}
            </div>
        </div>
    </div>
    <div class="list-values">
        <div class="header">
            <a class="perido">{{total.periodo}}</a>
            <a class="unidade">Valores R$</a>
        </div>
        <ul>
            <li ng-repeat="obj in movimentos" ng-class="[{'confirmado': obj.status==='CONFIRMADO'}, {'atrasado': obj.status==='ATRASADO'}]"  ng-click="onClickValue(obj)">
                <span><i class="fa" ng-class="obj.movimentos.length>0 ? 'fa-credit-card' : 'fa-circle'"></i></span>
                <a class="data">{{obj.dia_mes}} </a>
                <a class="descricao">{{obj.nome + obj.parcela_corrente}}</a>
                <a class="valor"> 
                    <span ng-if="obj.tipo==='RECEBIMENTO'">+</span>
                    <span ng-if="obj.tipo==='PAGAMENTO'">-</span>
                        {{(obj.valor_pago>0) ? obj.valor_pago : obj.valor_mensal | moeda}}
                </a>
            </li>
            
            <!-- totais -->
            <li class="total">
                <span><i class="fa fa-sticky-note"></i></span>
                <a class="data">RECEBIMENTO </a>
                <a class="descricao"></a>
                <a class="valor">{{total.recebimento | moeda}}</a>
            </li>
            <li class="total">
                <span><i class="fa fa-sticky-note"></i></span>
                <a class="data">PAGAMENTO </a>
                <a class="descricao"></a>
                <a class="valor">{{total.pagamento | moeda}}</a>
            </li>
            <li class="total">
                <span><i class="fa fa-sticky-note"></i></span>
                <a class="data">LÍQUIDO </a>
                <a class="descricao"></a>
                <a class="valor">{{total.liquido | moeda}}</a>
            </li>
        </ul>
        <!-- <div class="rodape">
            <button class="btn btn-default" ng-click="onClickConfirmarTudo()">CONFIRMAR TUDO</button>
        </div> -->
    </div>
    <div class="detalhes">
        <div class="content">
            <div class="header">
                <a class="goback" ng-click="onClickGoBackDetalhes()">X</a>
                <h4>Detalhes do Movimento</h4>
            </div>
            <!-- <hr> -->
            <div class="info">
                <ul>
                    <li>
                        <a class="label">ID:</a>
                        <a class="value">{{selecionado.id}}</a>
                    </li>
                    <li>
                        <a class="label">Nome:</a>
                        <a class="value">{{selecionado.nome}}</a>
                    </li>
                    <li>
                        <a class="label">Descrição:</a>
                        <a class="value">{{selecionado.descricao}}</a>
                    </li>
                    <li>
                        <a class="label">Vencimento:</a>
                        <a class="value">{{selecionado.data_corrente | data}}</a>
                    </li>
                    <li>
                        <a class="label">Valor:</a>
                        <a class="value">{{selecionado.valor_mensal | moeda}}</a>
                    </li>
                    <li>
                        <a class="label">Parcela:</a>
                        <a class="value">{{selecionado.parcela_corrente}}</a>
                    </li>
                    <li>
                        <a class="label">Tipo:</a>
                        <a class="value">{{selecionado.tipo}}</a>
                    </li>
                </ul>
            </div>

            <div class="sub-list" ng-if="selecionado.movimentos!==undefined">
                <div class="header">itens do cartão</div>
                <ul>
                    <li ng-repeat="sub in selecionado.movimentos">
                        <a class="data">{{sub.dia_mes}} </a>
                        <a class="descricao">{{sub.nome + sub.parcela_corrente}}</a>
                        <a class="valor" ng-if="sub.status==='CONFIRMADO'"> {{sub.valor_mensal | moeda}} </a>
                        <input type="tel" class="form-control" style="height: 25px !important;" name="valor_mensal" mascara-moeda ng-if="sub.status!=='CONFIRMADO'" ng-keyup="setSubValue()" ng-model="sub.valor_mensal">
                    </li>
                </ul>
            </div>

            <div class="formulario">
                <form name="formDetalhes">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="data_pagamento">Data Pagamento <span class="importante">*</span></label>
                                    <input type="date" class="form-control" name="data_pagamento" ng-model="selecionado.data_pagamento" ng-disabled="selecionado.status==='CONFIRMADO'" ng-required="true">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="valor_pago">Valor Pago <span class="importante">*</span></label>
                                    <input type="tel" class="form-control" mascara-moeda name="valor_pago" ng-model="selecionado.valor_pago" placeholder="Valor atualizado" ng-disabled="selecionado.status==='CONFIRMADO' || selecionado.movimentos!==undefined" ng-required="true">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="observacao">Observação</label>
                                    <input type="text" class="form-control" name="observacao" ng-model="selecionado.observacao" placeholder="Informe uma observação caso necessário" ng-disabled="selecionado.status==='CONFIRMADO'" ng-required="false">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding: 30px 0;">
                        <div class="col-sm-12">
                            <button ng-if="selecionado.status!=='CONFIRMADO'"
                                class="btn btn-primary btn-block btn-lg" 
                                ng-click="onClickConfirmarMovimento(selecionado)" 
                                ng-disabled="formDetalhes.$invalid">Confirmar
                            </button>
                            <button ng-if="selecionado.status==='CONFIRMADO'"
                                class="btn btn-danger btn-block btn-lg" 
                                ng-click="onClickCancelarMovimento(selecionado)" 
                                ng-disabled="formDetalhes.$invalid">Cancelar Confirmação
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>