<div class="box">
    <div ng-include="'app/views/common/header.html'"></div>
    <section ng-if="!novo" style="background: rgb(255 255 255 / 65%);">
        <div style="display: flex;">
            <button class="btn btn-default" ng-click="cadNovo()"><i class="fa fa-plus"></i></button>
            <input type="text" class="form-control" ng-model="filtro" placeholder="Filtro">
            <input type="tel" class="form-control" ng-model="pagination.limit" style="width:50px;" so-numeros>
            <button class="btn btn-default" ng-click="filtrar()"><i class="fa fa-filter"></i></button>
            <button class="btn btn-default" ng-click="listarClientes()"><i class="fa fa-refresh"></i></button>
        </div>
        
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <td align="left" style="cursor: pointer;" ng-click="ordernar('id')">ID</i></span></td>
                        <td align="left" style="cursor: pointer;" ng-click="ordernar('nome')">Nome</td>
                        <td align="left" style="cursor: pointer;" ng-click="ordernar('valor_mensal')">Valor Mensal</td>
                        <td align="left" style="cursor: pointer;" ng-click="ordernar('link_1')">Link 1</td>
                        <td align="left" style="cursor: pointer;" ng-click="ordernar('link_2')">Link 2</td>
                        <td align="left" style="cursor: pointer;" ng-click="ordernar('link_3')">Link 3</td>
                        <td align="left" style="cursor: pointer;" ng-click="ordernar('descricao')">Descrição</td>
                        <td align="left" style="cursor: pointer;" ng-click="ordernar('status')">Status</td>
                        <td align="left">Ações</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="obj in metas | filter:filtro | orderBy:ordenador:reverse">
                        <td>{{obj.id}}</td>
                        <td>{{obj.nome}}</td>
                        <td>{{obj.valor_mensal | moeda}}</td>
                        <td><a href="{{obj.link_1}}" target="_blank" ng-if="obj.link_1">{{obj.descricao_link_1 || 'Link 1'}}</a></td>
                        <td><a href="{{obj.link_2}}" target="_blank" ng-if="obj.link_2">{{obj.descricao_link_2 || 'Link 2'}}</a></td>
                        <td><a href="{{obj.link_3}}" target="_blank" ng-if="obj.link_3">{{obj.descricao_link_3 || 'Link 3'}}</a></td>
                        <td>{{obj.descricao}}</td>
                        <td>{{obj.status}}</td>
                        <td>
                            <button class="btn btn-warning" ng-click="editar(obj)"><i class="fa fa-pencil"></i></button>
                            <button class="btn btn-danger"  ng-click="remover(obj)"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section style="padding:10px;" ng-if="novo">
        <!-- <h3 align="center">Novo Cadastro</h3> -->
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">Formulário de meta</div>
                </div>
                <div class="panel-body">
                    <form name="formCartao" class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="nome">Nome<span class="importante">*</span></label>
                                <input type="text" class="form-control" name="nome" ng-model="obj.nome" placeholder="Qual o nome da sua meta?" ng-required="true">
                            </div>
                            <div class="col-sm-6">
                                <label for="valor_mensal">Valor<span class="importante">*</span></label>
                                <input type="tel" class="form-control" name="valor_mensal" ng-model="obj.valor_mensal" mascara-moeda placeholder="Quanto custa por mês?" ng-required="true">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="descricao_link_1">Descrição Link 1</label>
                                <input type="text" class="form-control" name="descricao_link_1" ng-model="obj.descricao_link_1" placeholder="Descreva o link se necessário" ng-required="false">
                            </div>
                            <div class="col-sm-6">
                                <label for="link_1">Link 1</label>
                                <input type="text" class="form-control" name="link_1" ng-model="obj.link_1" placeholder="Adicione um link se necessário" ng-required="false">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="descricao_link_2">Descrição Link 2</label>
                                <input type="text" class="form-control" name="descricao_link_2" ng-model="obj.descricao_link_2" placeholder="Descreva o link se necessário" ng-required="false">
                            </div>
                            <div class="col-sm-6">
                                <label for="link_2">Link 2</label>
                                <input type="text" class="form-control" name="link_2" ng-model="obj.link_2" placeholder="Adicione um link se queira" ng-required="false">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="descricao_link_3">Descrição Link 3</label>
                                <input type="text" class="form-control" name="descricao_link_3" ng-model="obj.descricao_link_3" placeholder="Descreva o link se necessário" ng-required="false">
                            </div>
                            <div class="col-sm-6">
                                <label for="link_3">Link 3</label>
                                <input type="text" class="form-control" name="link_3" ng-model="obj.link_3" placeholder="Adicione um link se queira" ng-required="false">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="descricao">Descrição</label>
                                <input type="text" class="form-control" name="descricao" ng-model="obj.descricao" placeholder="Descreva se necessário" ng-required="false">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="btn-group pull-right" style="padding: 15px 0;">
                                    <button type="button" class="btn btn-danger" ng-click="cancelar()">Cancelar</button>
                                    <button type="button" class="btn btn-success" ng-click="salvar(obj)" ng-disabled='formCartao.$invalid'>Salvar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>